{
    "file_path": "yourpath/10_30_16_40_设备配置检验.xlsx",
    "sheet_name": "球机检测",
    "columns": ["ip",
        "OSD1",
        "OSD2",
        "OSD左下角",
        "check_osd1_省",
        "check_osd1_市",
        "check_osd1_区",
        "check_osd1_osd",
        "check_osd1_左下角",
        "check_osd2_省",
        "check_osd2_市",
        "check_osd2_区",
        "check_osd2_osd",
        "check_osd2_左下角",
        "check_ntp_ip",
        "check_ntp_time",
        "check_ntp_time"],
    "output_file": "yourpath/eazy-excel/output/extracted_data.xlsx",
    "output_sheet_name": "提取数据",
    "filter_condition": "错误"
}

