{
    "file_path": "ExcelFile.xlsx",
    "sheet_names": ["工作表1", "工作表2", "工作表3", "工作表4"],
    "columns": [
        "ip",
        "OSD1",
        "OSD2",
        "OSD左下角",
        "check_osd1_省",
        "check_osd1_市",
        "check_osd1_区",
        "check_osd1_osd",
        "check_osd1_左下角",
        "check_osd2_省",
        "check_osd2_市",
        "check_osd2_区",
        "check_osd2_osd",
        "check_osd2_左下角",
        "check_ntp_ip",
        "check_ntp_time",
        "check_ntp_time_format",
        "check_抓拍OSD"],
    "output_file": "ExcelFile.xlsx",
    "filter_condition": "错误"
}